<div class="dashboard-sub-menu-container" >
    <h2>HQ Dashboard</h2>
    <div class="button-group pull-right">
        <div *ngIf="currentUrl === '/themes-of-the-week'" class="new-theme-button mr-2 d-inline-block">
            <a *appHasRole="['Contributor']" routerLink="/theme/new" class="btn btn-primary btn-outline doNotPrint">New Theme</a>
        </div>
        <button class="btn btn-primary btn-outline btn-print doNotPrint" (click)="print()" *ngIf="!socialmediatypes"><i class="fa fa-print fa-lg"></i> Print</button>
    </div>
    <p class="lighter-font hq-dashboard-info">
        The most important news you should be aware of.
    </p>
    <div *appHasRole="['Contributor', 'Viewer']" class="pt-3 router-style">
        <ul class="list-inline subnav-list">
            <li id="submenu-open-button" class="open pull-right" (click)="toggleSubmenu()">
                <i class="fa" [ngClass]="{'fa-angle-down': !submenuOpen, 'fa-angle-up': submenuOpen}"></i>
            </li>
            <li class="list-inline-item" (click)="toggleSubmenu()" [ngClass]="{'open': submenuOpen}"><a routerLink="/last-7-day-post-list" routerLinkActive="active">{{'last 7 days' | uppercase}}</a></li>
            <li class="list-inline-item" (click)="toggleSubmenu()" [ngClass]="{'open': submenuOpen}"><a routerLink="/next-7-day-activity-list" routerLinkActive="active">{{'7 day forecast' | uppercase}}</a></li>
            <li class="list-inline-item" (click)="toggleSubmenu()" [ngClass]="{'open': submenuOpen}"><a routerLink="/themes-of-the-week" routerLinkActive="active">{{'themes of the week' | uppercase}}</a></li>
            <li class="list-inline-item" (click)="toggleSubmenu()" [ngClass]="{'open': submenuOpen}"><a routerLink="/social-media-list" routeLinkActiveOptions="{exact: false}" routerLinkActive="active">{{'social media' | uppercase}}</a></li>

            <li id="social-media-filter" class="list-inline-item ml-auto open" *ngIf="socialmediatypes">
                <div ngbDropdown placement="bottom-right" id="social-media-filter-dropdown-menu">
                    <a class="btn-link" id="dropdown-social-media-filter" ngbDropdownToggle>{{filterBySocialMediaType}} <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div ngbDropdownMenu aria-labelledby="dropdown-social-media-filter">
                        <ul class="list-inline">
                            <li class="list-inline-item dropdown-item">
                                <a routerLink="/social-media-list" [queryParams]="{ type: 'All'}">All</a>
                            </li>
                            <li class="list-inline-item dropdown-item" *ngFor="let socialmediatype of socialmediatypes">
                                <a routerLink="/social-media-list" [queryParams]="{ type: socialmediatype.name}">
                                    {{socialmediatype.name}}
                                </a>
                            </li>
                        </ul>               
                    </div>
                </div>
            </li>

            <li id="user-ministry-filter" class="list-inline-item ml-auto open" *ngIf="userMinistries">
                <div ngbDropdown placement="bottom-right" id="user-ministry-filter-dropdown-menu">
                    <a class="btn-link" id="dropdown-user-ministry-filter" ngbDropdownToggle>{{filterByMinistries}} <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div ngbDropdownMenu aria-labelledby="dropdown-user-ministry-filter">
                        <ul class="list-inline">
                            <li class="list-inline-item dropdown-item">
                                <a routerLink="/last-7-day-post-list" [queryParams]="{ ministries: 'All'}">All</a>
                            </li>
                            <li class="list-inline-item dropdown-item">
                                <a routerLink="/last-7-day-post-list" [queryParams]="this.userMinistries.length === 1 ? { ministries: 'My Ministry' } : { ministries: 'My Ministries' }">
                                    {{ this.userMinistries.length === 1 ? 'My Ministry' : 'My Ministries' }}
                                </a>
                            </li>
                        </ul>                       
                    </div>
                </div>
            </li>

            <li id="user-ministry-filter" class="list-inline-item ml-auto open" *ngIf="userMinistriesAbbreviations">
                <div ngbDropdown placement="bottom-right" id="user-ministry-filter-dropdown-menu">
                    <a class="btn-link" id="dropdown-user-ministry-filter" ngbDropdownToggle>{{filterByMinistryAbbreviations}} <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div ngbDropdownMenu aria-labelledby="dropdown-user-ministry-filter">
                        <ul class="list-inline">
                            <li class="list-inline-item dropdown-item">
                                <a routerLink="/next-7-day-activity-list" [queryParams]="{ ministries: 'All'}">All</a>
                            </li>
                            <li class="list-inline-item dropdown-item">
                                <a routerLink="/next-7-day-activity-list" [queryParams]="this.userMinistriesAbbreviations.length === 1 ? { ministries: 'My Ministry' } : { ministries: 'My Ministries' }">
                                    {{ this.userMinistriesAbbreviations.length === 1 ? 'My Ministry' : 'My Ministries' }}
                                </a>
                            </li>
                        </ul>                       
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
