@import '../../../assets/styles/variables.scss';

.dropdown-toggle::after {
    content:initial;
 }

 #social-media-filter a {
     color: map-get($theme-colors, primary-nav)!important;
 }

 .hq-dashboard-info {
    font-size: 1.2em;
 }

 .router-style {
    font-size: 1.1em;
 }

 .list-inline-item:not(.open) a:not(.active) {
   @include media-breakpoint-down(sm) {
      display: none;
   }
 }
 .list-inline-item {
   @include media-breakpoint-down(sm) {
      display: block;
   }
 }
 #submenu-open-button {
   width: 30px;
   text-align: right;
   i {
      color: map-get($theme-colors, primary-nav);
   }
   @include media-breakpoint-up(md) {
      display: none;
   }
 }

.dashboard-sub-menu-container {
   padding-left:0; 
   padding-right:0;
   h2 {
      display: inline-block;
   }
}
@media screen {
   .dashboard-sub-menu-container {
      padding-top: 80px;
      @include media-breakpoint-down(sm) {
         padding-top: 50px;
      }
   }
}


