@import '../../../assets/styles/variables.scss';

.dropdown-toggle::after {
   display: none !important;
}

#social-media-filter a {
   cursor: pointer;
   color: map-get($theme-colors, primary-nav)!important;
}

#social-media-filter {
   @include media-breakpoint-down(sm) {
      text-align: right;
      margin-top: 5px;
      margin-right: 0;
   }
}

.dropdown-menu {
   top: 30px !important;
}

.hq-dashboard-info {
   font-size: 1.2em;
}

.router-style {
   font-size: 1.1em;
}

.subnav-list.list-inline {
   @include media-breakpoint-up(md) {
      display: flex;
   }
}

.subnav-list>.list-inline-item:not(.open) a:not(.active) {
   @include media-breakpoint-down(sm) {
      display: none;
   }
}
.subnav-list>.list-inline-item {
   flex-shrink: 0;
   margin-right: 0;
   @include media-breakpoint-down(sm) {
      text-align: right;
      display: block;
      margin-right: 16px;
   }
}
#submenu-open-button {
   width: 12px;
   text-align: right;
   i {
      color: map-get($theme-colors, primary-nav);
   }
   @include media-breakpoint-up(md) {
      display: none;
   }
}

.dashboard-sub-menu-container {
   padding-left:0; 
   padding-right:0;
   h2 {
      display: inline-block;
   }
}
@media screen {
   .dashboard-sub-menu-container {
      margin-top: 60px;
      @include media-breakpoint-down(sm) {
         margin-top: 40px;
      }
   }
}


