
<app-hq-dashboard-sub-menu></app-hq-dashboard-sub-menu>
<div id="theme-list" class="row pl-0 pr-0 pt-3">
  <div class="col-8">
    <div *ngFor="let theme of themes" class="card">
      <div class="card-body">
        <h5 *ngIf="theme.title" class="card-title">{{theme.title}}</h5>
        <p *ngIf="theme.description" class="card-text justify-content-between">{{theme.description}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="highlightedTheme" class="col-4">
    <div class="message">
      <h5 class="message-header">{{'message' | uppercase}}</h5>
      <div class="message-body">
        <h5 *ngIf="highlightedTheme.title" class="message-title">{{highlightedTheme.title}}</h5>
        <p *ngIf="highlightedTheme.description" class="message-text justify-content-between">{{highlightedTheme.description}}</p>
      </div>
    </div>
  </div>
</div>