@import "../../../assets/styles/variables.scss";

.message {
    padding: 1.25rem 0;
}

.message-header {
    border-bottom: 1px solid map-get($theme-colors, light);
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: map-get($theme-colors, dark);
    font-size: 0.9em;
}

.col-4 {
    padding-left:100px;
    color: map-get($theme-colors, medium);
}