main .jumbotron{
    background-color: #fff;
}
  
#hq-dashboard-body h2{
    color:map-get($theme-colors, dark)!important;
}

.list-inline .list-inline-item{
    padding-right:20px;
    color: map-get($theme-colors, light)!important;
}
  
.list-inline .list-inline-item a{
    color: map-get($theme-colors, mediem);
    padding-bottom: 10px;
    text-decoration: none;
}
  
.list-inline .active{
    color: map-get($theme-colors, dark)!important;
    border-bottom: 2px solid map-get($theme-colors, primary-nav)!important;
}
  
.card-ministry-label{
    color: map-get($theme-colors, primary-nav)!important;
}
  
#activity-list .card{
    margin-bottom: 40px;
}
  
#activity-list .card .card-text{
    color: map-get($theme-colors, mediem)!important;
}
  
  