@import "../../../assets/styles/variables.scss";
@import '../../../assets/styles/layout.scss';

.card-no-border {
  border: none;
}

.card-columns {
    @include media-breakpoint-only(xxxl) {
      column-count: 5;
    }
    @include media-breakpoint-only(xxl) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 3;
    }
    @include media-breakpoint-only(lg) {
      column-count: 2;
    }
    @include media-breakpoint-only(md) {
      column-count: 2;
    }
    @include media-breakpoint-only(sm) {
      column-count: 1;
    }
    @include media-breakpoint-only(xs) {
      column-count: 1;
    }
  }

  .fb-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}
