@import "../../../assets/styles/variables.scss";
@import '../../../assets/styles/layout.scss';

.card-no-border {
  border: none;
}

#social-media-list {
  padding-top: 30px;
  @include media-breakpoint-down(md) {
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
  }
}

.card-columns {
    @include media-breakpoint-only(xxxl) {
      column-count: 5;
    }
    @include media-breakpoint-only(xxl) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 3;
    }
    @include media-breakpoint-only(lg) {
      column-count: 2;
    }
    @include media-breakpoint-only(md) {
      column-count: 2;
    }
    @include media-breakpoint-only(sm) {
      column-count: 1;
    }
    @include media-breakpoint-only(xs) {
      column-count: 1;
    }
  }

  .fb-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

@include media-breakpoint-up(md) {
    .masonry {
        margin-top:30px;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(330px,1fr));
        grid-auto-rows: 80px;
    }
}

@include media-breakpoint-up(lg) {
    .masonry {
        margin-top:30px;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
        grid-auto-rows: 20px;

    }
}

@include media-breakpoint-down(xs) {
    .masonry {
        margin-top:30px;
        display: card-column;
    }
}

.Caption {
    display: none !important;
}

.HoverCard {
    display: none !important;
}

.Feedback {
    display: none !important;
}

.SocialProof {
    display: none !important;
}

.embed .Footer{
    display: none !important;
}


