<div class="modal-header">
  <h4 class="modal-title">Delete Confirmation</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="postExt && postExt.mediaType">
    <app-social-media-post [postExt]="postExt"></app-social-media-post>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Confirm')">Confirm</button>
  <button type="button" class="btn btn-default" (click)="activeModal.close('Cancel')">Cancel</button>
</div>