<div class="modal-header">
  <h4 class="modal-title">Delete Confirmation</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="postExt">
      <div ngSwitch="{{postExt.mediaType}}" class="social-media-post d-flex align-items-center justify-content-center" >
          <div *ngSwitchCase="'Twitter'">
              <blockquote class="twitter-tweet" data-width="99%" data-lang="en" data-conversation="none">
                <a href="https://publish.twitter.com/oembed?{{postExt.url}} | async"></a>
              </blockquote>
            </div>
            <div *ngSwitchCase="'Facebook'" >
              <blockquote style="width: 99%;" class="{{postExt.postType}}" attr.data-href="{{postExt.url}} | async"></blockquote>
            </div>
            <div *ngSwitchCase="'Instagram'">
              <blockquote style="width: 99%; max-width: 99%;" class="instagram-media" data-instgrm-captioned
              attr.data-instgrm-permalink="{{postExt.url}}?OMITSCRIPT=true&size=t | async" data-instgrm-version="9">
                <a href="{{postExt.url}}?OMITSCRIPT=true | async"></a>
              </blockquote>
            </div>  
      </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Confirm')">Confirm</button>
  <button type="button" class="btn btn-default" (click)="activeModal.close('Cancel')">Cancel</button>
</div>