<div id="activity-forecast-list" style="padding-left:0; padding-right:0; padding-top:30px;">
  <div class="row seven-cols">
    <div class="col-lg-1">
      <div class="card mb-3" style="max-width: 18rem;">
        <div class="card-header bg-light">Today <div class="pull-right">20</div></div>
      </div>
      <div class="card">
          <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
      </div>
      <div class="card">
          <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
      </div>
    </div>

    <div class="col-lg-1">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header bg-light">Today <div class="pull-right">21</div></div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
          </div>
    </div>
    <div class="col-lg-1">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header bg-light">Today <div class="pull-right">22</div></div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
          </div>
    </div>
    <div class="col-lg-1">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header bg-light">Today <div class="pull-right">23</div></div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
          </div>
    </div>
    <div class="col-lg-1">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header bg-light">Today <div class="pull-right">24</div></div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
          </div>
    </div>
    <div class="col-lg-1">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header bg-light">Today <div class="pull-right">25</div></div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
          </div>
    </div>
    <div class="col-lg-1">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header bg-light">Today <div class="pull-right">26</div></div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted card-ministry-label">ministry label</h6>
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
          </div>
    </div>
  </div>
  
</div>