<app-settings-page>
    <h2 settings-page-title>Account Settings</h2>
        <div settings-page-content>
            <app-settings-group>
                <div class="header" item-group-header>
                    <h4>Ministries</h4>
                    <div>
                        <app-checkbox (change)="selectAll()" label="All"></app-checkbox>
                    </div>
                </div>
                <div class="items" item-group-items>
                    <div class="row">
                        <div class="col md-6">
                            <app-checkbox *ngFor="let ministry of ministries | slice:0:ministriesListMidPoint" [events]="eventsSubject.asObservable()" (checkboxChanged)="handleCheckboxChanged($event)" label="{{ministry.displayName}}"></app-checkbox>
                        </div>
                        <div class="col-md-6">
                            <app-checkbox *ngFor="let ministry of ministries | slice:ministriesListMidPoint" [events]="eventsSubject.asObservable()" (checkboxChanged)="handleCheckboxChanged($event)" label="{{ministry.displayName}}"></app-checkbox>
                        </div>
                    </div>
                </div>
            </app-settings-group>
        </div>
        <div class="text-center" settings-page-save-button>
            <button type="button" class="btn-update text-center">Update Settings</button>
        </div>
</app-settings-page>
