@import "../../assets/styles/variables.scss";

@media screen {
    .account-settings-container {
        padding-top: 80px;
    }
}

.btn-update{
    padding: 8px 25px;
    margin-top: 10px;
    border: 1px solid map-get($theme-colors, light);
    background-color: map-get($theme-colors, primary-nav);
    color: #ffffff;
}