@import "../../assets/styles/variables.scss";

.card {
    border: none;
    border-bottom: 1px solid map-get($theme-colors, light);
}

.col-8:last-child {
    border: none;
}

.card-body{
    padding-left: 0;
    padding-right: 0;
}
.custom-list-style li{
    padding-top:15px;
}

.col-4{
    padding-left:100px;
    color: map-get($theme-colors, mediem);
}