<div id="activity-forecast-list" style="padding-left:0; padding-right:0; padding-top:30px;">
  <div class="row seven-cols">
        <div class="col-lg-1" *ngFor="let day of daysofWeek">
            <div class="card" style="max-width: 18rem;">
                <div class="card-header bg-light">{{day}}<div class="pull-right">20</div></div>
            </div>  
            <div class="card" *ngFor="let entry of entrylist; let i = index" [hidden]="i>2">
                <div class="card-body"  >
                    <h6 class="card-subtitle mb-2 text-muted card-ministry-label">{{entry.ministryKeys}}</h6>
                    <h5 class="card-title">{{entry.documents[0].headline}}</h5>
                    <p class="card-text">{{entry.summary}}</p>
                  </div>
            </div>
        </div>
  </div>
</div>