@import "../../../assets/styles/variables.scss";

.title a{
    text-decoration: none;
}

// Header, navigation bar
header nav {
    background-color: map-get($theme-colors, primary-alt);;
    border-bottom: 1px solid map-get($theme-colors, light);
    margin-bottom: 20px;
}
  
header .nav-item {
    color: map-get($theme-colors, light)!important;
}

header .nav-item {
    padding-left: 20px;
}
  
#site-title a h4{
    padding-top:25px;
    color: map-get($theme-colors, primary-nav)!important;
}
  
header .nav-item .active{
    border-bottom: 2px solid map-get($theme-colors, primary-nav)!important;
}
  
.user-image{
    width: 36px;
    border-radius: 50%;
    background: map-get($theme-colors, secondary)!important;
    height: 36px;
    box-sizing: initial;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    line-height: 36px;
}

// remove the profile menu dropdown arrow
.dropdown-toggle::after{
    content:initial;
 }
 