@import "../../../assets/styles/variables.scss";

.title a{
    text-decoration: none;
}

// Header, navigation bar
header nav {
    background-color: map-get($theme-colors, primary-alt);;
    border-bottom: 1px solid map-get($theme-colors, light);
    margin-bottom: 20px;
}
  
header .nav-item {
    cursor: pointer;
    display: flex;
    padding-left: 20px;
}

.navbar .full-width {
    @include media-breakpoint-up(lg) {
        padding: 0 44px 0 36px;
    }
}

.navbar-brand.title {
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-toggler {
    border: none;
}

.navbar-nav {
    @include media-breakpoint-down(md) {
        display: flex;
        position: fixed;
        background-color: #fff;
        width: 350px;
        height: 100vh;
        right: 0;
        top: 0;
        border-left: 1px solid map-get($theme-colors, medium);
        .nav-item {
            order: 2;
        }
        .nav-item:last-of-type {
            order: 1;
            margin: 10px 0;
        }
    }
}

.mobile-only {
    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.close-btn {
    position: absolute;
    right: 0;
    width: 30px;
}

.dropdown-menu {
    top: 45px !important;
}

ul.list-inline {
    margin-bottom: 0;
}

.mobile-nav-overlay {
    opacity: 0.8;
    position: fixed;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.btn-nav {
    color: map-get($theme-colors, dark)!important;
    background-color: #fff;
}
  
#site-title a h4{
    color: map-get($theme-colors, primary-nav)!important;
    border-left: 1px solid map-get($theme-colors, secondary);
    padding-left: 10px;
    margin-bottom: 0;
    height: 2.5rem;
    line-height: 2.8rem;
    @include media-breakpoint-down(sm) {
        height: 1.5rem;
        line-height: 1.8rem;
    }
}
  
header .nav-item .active{
    border-bottom: 2px solid map-get($theme-colors, primary-nav)!important;
}
  
.user-image{
    width: 36px;
    border-radius: 50%;
    height: 36px;
    box-sizing: initial;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    line-height: 36px;
}

// remove the profile menu dropdown arrow
.dropdown-toggle::after{
    display: none !important;
 }

.bc-logo-img {
    max-height: $heading-large-height;
    @include media-breakpoint-down(sm) {
        max-height: $heading-small-height;
    }
}
 