<div *ngIf="postExt" ngSwitch="{{postExt.mediaType}}" class="social-media-post">
  <div *ngSwitchCase="'Twitter'" class="card card-no-border twitter-wrapper" [ngClass]="{'hidden': isLoading}">
    <blockquote class="twitter-tweet" data-width="95%" data-lang="en" data-conversation="none">
      <a href="https://publish.twitter.com/oembed?{{postExt.url}} | async"></a>
    </blockquote>
  </div>
  <div *ngSwitchCase="'Facebook'" class="card card-no-border facebook-wrapper" [ngClass]="{'hidden': isLoading}">
    <blockquote style="width: 95%;" class="{{postExt.postType}}" attr.data-href="{{postExt.url}} | async"></blockquote>
  </div>
  <div *ngSwitchCase="'Instagram'" class="card-no-border instagram-wrapper" [ngClass]="{'hidden': isLoading}">
    <blockquote style="width: 95%; max-width: 95%;" class="instagram-media"
    attr.data-instgrm-permalink="{{postExt.url}}?OMITSCRIPT=true&hidecaption=true | async" data-instgrm-version="9">
      <a href="{{postExt.url}}?OMITSCRIPT=true&hidecaption=true | async"></a>
    </blockquote>
  </div>
</div>
