.hidden:before {
  position: absolute;
  content: '';
  background: rgba(256, 256, 256, 1);
  width: 100%;
  height: 100%;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

.card-no-border {
  border: none;
}

.instagram-wrapper {
    margin-right: -10px;
}

.Caption {
    display: none !important;
}

@media screen and (max-width: 992px) {
    .instagram-media {
      min-width: unset !important;
    }
  }
