
<app-hq-dashboard-sub-menu [socialmediatypes]="socialmediatypes"></app-hq-dashboard-sub-menu>
<div id="social-media-list" class="card-columns pl-0 pr-0 pt-3">
    <div *ngFor="let item of selectedSocialMedia">
        <div class="card">
            <img *ngIf="item.assetUrl" class="card-img-top post-image" src="{{item.assetUrl}}" alt="Card image cap">
            <div class="card-body">
                <h5 *ngIf="item.documents" class="card-title">{{item.documents[0].headline}}</h5>
                <p *ngIf="item.summary" class="card-text justify-content-between">{{item.summary}}</p>
                <p class="card-text" [ngSwitch]="item.mediatype">{{item.publishDate | date:'mediumDate'}}
                    <i *ngSwitchCase="'Twitter'" class="fa fa-twitter fa-2x pull-right pr-3"></i>
                    <i *ngSwitchCase="'Facebook'" class="fa fa-facebook-square fa-2x pull-right pr-3"></i>
                    <i *ngSwitchCase="'LinkedIn'" class="fa fa-linkedin-square fa-2x pull-right pr-3"></i>
                    <i *ngSwitchCase="'YouTube'" class="fa fa-youtube fa-2x pull-right pr-3"></i>
                    <i *ngSwitchCase="'SoundCloud'" class="fa fa-soundcloud fa-2x pull-right pr-3"></i>
                </p>
            </div>
        </div>
    </div>
</div>
<div>
    test sdk
    <!--
<div id="fb-root" src=""></div>
    -->
    <!--
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FBCProvincialGovernment%2Fposts%2F2374958265855785&width=500" width="500" height="384" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    -->
    
</div>

