<nav id="social-media-list-input-nav" class="navbar fixed-top navbar-expand-lg bg-primary navbar-light pt-0 pb-0">
  <div class="container-fluid">
    <div class="navbar-brand title mr-auto">
      <h4>Edit Social Media</h4>
    </div>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><a routerLink="/social-media/new" class="btn btn-link" id="addSocialMediaPostBtn">New Post</a></li>
    </ul>
  </div>
</nav>

<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
<div id="admin-social-media-list-input-form" class="container-fluid pl-0 pr-0 pt-5" [ngClass]="{'hidden': isLoading}">
  <div class="back-btn"><a href="#" (click.preventDefault)="backToSocialMediaList()" class="btn btn-outline btn-primary" id="backBtn">Back to List</a></div>
  <div id="social-media-input-list" class="card-columns">
    <div *ngFor="let item of socialmedia" [ngSwitch]="item.mediaType" class="social-media-post card">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <button class="btn btn-link pin-social-media-post-btn mr-auto" type="button" (click)="pinSocialMediaPost(item)"><i [className]="item.sortOrder!==0 ? 'fa fa-thumb-tack fa-lg fa-rotate-180': 'fa fa-thumb-tack fa-lg'" [ngStyle]="{'color': getPinColor(item.sortOrder)}"></i></button>
        <button class="btn btn-link delete-social-media-post-btn" type="button" (click)="deleteSocialMediaPost(item)"><i class="fa fa-times fa-lg"></i></button>
      </div>
      <app-social-media-post [postExt]="item"></app-social-media-post>
    </div>
  </div>
</div>

