<nav id="social-media-list-input-nav" class="navbar fixed-top navbar-expand-lg bg-primary navbar-light pt-0 pb-0">
    <div class="container-fluid">
        <div class="navbar-brand title mr-auto">
            <h4>Update Social Media List</h4>
        </div>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item btn-link"><a href="#" (click.preventDefault)="addSocialMediaPost()" class="btn btn-link">Add</a></li>
            <li class="nav-item btn-link"><a href="#" (click.preventDefault)="submit()" class="btn btn-link">Submit</a></li>
            <li class="nav-item btn-link"><a href="#" (click.preventDefault)="close()" class="btn btn-link">Cancel</a></li>
        </ul>
    </div>
</nav>

<div id="admin-social-media-list-input-form" class="container-fluid pl-0 pr-0 pt-5">
<div id="social-media-input-list" class="card-columns">
  <div *ngFor="let item of socialmedia" [ngSwitch]="item.mediaType" class="social-media-post">
    <!--
      put a responsive wrapper around the social media post so that they will act in a similar responsive way;
      cannot find the same wrapper since the posts from different social media platform act differently;
      use card for twitter and instagram;
      did not wrap facebook post since sometimes it does not show the post with certain browser
      cannot use a css class for the style since the social media scripts are looking for certain classes as twitter-tweet, fb-post, fb-video, instagram-media
    -->
    <div class="card" *ngSwitchCase="'Twitter'">
      <span class="pull-right pr-2"><button class="btn btn-link" type="submit" (click.preventDefault)="deleteSocialMediaPost(item)"><i class="fa fa-times"></i></button></span>
      <blockquote class="twitter-tweet" data-width="100%" data-lang="en">
        <a href="https://publish.twitter.com/oembed?{{item.url}} | async"></a>
      </blockquote>
    </div>
    <div *ngSwitchCase="'Facebook'" class="card">
      <span class="pull-right pr-2"><button class="btn btn-link" type="submit" (click.preventDefault)="deleteSocialMediaPost(item)"><i class="fa fa-times"></i></button></span>
      <blockquote style="width: 98%;" class="{{item.postType}}" attr.data-href="{{item.url}} | async" id="{{item.id}}"></blockquote>
    </div>
    <div class="card" *ngSwitchCase="'Instagram'">
      <span class="pull-right pr-2"><button class="btn btn-link" type="submit" (click.preventDefault)="deleteSocialMediaPost(item)"><i class="fa fa-times"></i></button></span>
      <blockquote style="width: 100%; max-width: 100%;" class="instagram-media" data-instgrm-captioned
      attr.data-instgrm-permalink="{{item.url}}?OMITSCRIPT=true | async" data-instgrm-version="9"
      id="{{item.id}}">
        <a href="{{item.url}}?OMITSCRIPT=true | async"></a>
      </blockquote>
    </div>  
  </div>
</div>
</div>

