@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/layout.scss";

.card-no-border {
    border: none;
}

.navbar-brand h4 {
    padding-top: 25px;
    padding-bottom: 9px;
    color: map-get($theme-colors, dark) !important;
}

nav {
    background-color: map-get($theme-colors, primary-alt);
    border-bottom: 1px solid map-get($theme-colors, light);
    margin-bottom: 20px;
}
.navbar-brand h4 {
    padding-top: 25px;
    padding-bottom: 9px;
    color: map-get($theme-colors, dark);
}

iframe {
    padding-bottom: 0 !important;
}

.card-columns {
    @include media-breakpoint-only(xxxl) {
        column-count: 5;
    }
    @include media-breakpoint-only(xxl) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 3;
    }
    @include media-breakpoint-only(lg) {
        column-count: 2;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
    @include media-breakpoint-only(xs) {
        column-count: 1;
    }
}

.mobile-card {
    @include media-breakpoint-only(xs) {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.card-columns .card {
    @include media-breakpoint-only(xs) {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.fb-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.fa-times {
    color: grey;
}

