<nav id="social-media-list-input-nav" class="navbar fixed-top navbar-expand-lg bg-primary navbar-light pt-0 pb-0">
    <div class="container-fluid">
        <div class="navbar-brand title mr-auto">
            <h4>Update Social Media List</h4>
        </div>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item btn-link"><a href="#" (click.preventDefault)="addSocialMediaPost()" class="btn btn-link" id="addSocialMediaPostBtn">Add</a></li>
            <li class="nav-item btn-link"><a href="#" (click.preventDefault)="submit()" class="btn btn-link" id="submitSocialMediaInputBtn">Submit</a></li>
            <li class="nav-item btn-link"><a href="#" (click.preventDefault)="close()" class="btn btn-link" id="cancelInputBtn">Cancel</a></li>
        </ul>
    </div>
</nav>

<div id="admin-social-media-list-input-form" class="container-fluid pl-0 pr-0 pt-5">
    <form [formGroup]="socialMediaPostListForm" (ngSubmit)="submit()">
        <fieldset class="pt-3"> 
            <div formArrayName="postList" id="postList">
                <div *ngFor="let formGroup of socialMediaPostListForm['controls'].postList['controls']; index as i">
                    <div [formGroup]="formGroup" class="row" id="rowPost_{{i}}">
                        <div class="input-group justify-content-center">
                            <label for="url" class="col-lg-1 col-xl-1 col-xxl-1 col-form-label text-right">{{'Url' | uppercase}}</label>
                            <div class="col-lg-7 col-xl-6 col-xxl-4">
                                <input class="form-control" type="text" name="url" formControlName="url">
                                <div *ngIf="get_url(i).invalid && get_url(i).dirty" class="alert alert-danger mt-1">Url Format Error</div>
                            </div>
                            <div class="col-lg-4 col-xl-2 col-xxl-2 pull-right">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button id="moveUpBtn_{{i}}" type="submit" (click.preventDefault)="move(-1, i)" class="btn btn-link"><i
                                            class="fa fa-arrow-up fa-2x"></i></button>
                                    <button id="moveDownBtn_{{i}}" type="submit" (click.preventDefault)="move(1, i)" class="btn btn-link"><i
                                            class="fa fa-arrow-down fa-2x"></i></button>
                                    <button id="deleteBtn_{{i}}" type="submit" (click.preventDefault)="deleteSocialMediaPost(i)" class="btn btn-link"><i
                                            class="fa fa-trash fa-2x"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
