@import "../../../assets/styles/variables.scss";

.navbar-brand h4{
    padding-top:25px;
    padding-bottom: 9px;
    color: map-get($theme-colors, dark)!important;
}

nav {
    background-color: map-get($theme-colors, primary-alt);;
    border-bottom: 1px solid map-get($theme-colors, light);
    margin-bottom: 20px;
}
.navbar-brand h4{
    padding-top:25px;
    padding-bottom: 9px;
    color: map-get($theme-colors, dark);
}

.input-group {
    padding-top:10px;
}