<app-hq-dashboard-sub-menu></app-hq-dashboard-sub-menu>

<div class="container-fluid" style="margin-top:30px; padding-left:0; padding-right: 0;">
  <div class="row justify-content-md-center justify-content-xxl-center">
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-7 col-sm-12 col-xs-12">
      <div class="fb-page"
        data-tabs="timeline"
        data-href="https://www.facebook.com/BCProvincialGovernment"
        data-width="500" data-adapt-container-width="true" data-small-header="true" height="auto"
        data-hide-cover="false"
        data-show-facepile="false">
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-7 col-sm-12 col-xs-12" style="border: 1px rgba(15,70,100,.12) solid; margin-top: 20px;;">
      <a class="twitter-timeline" data-chrome="noscrollbar"
        href="https://twitter.com/BCGovNews" max-width='500'>
      </a>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-7 col-sm-12 col-xs-12" style="margin-top: 20px;">
      <h6 class="card-title"><i class="fa fa-instagram"></i>Instagram by <a href="https://www.instagram.com/governmentofbc/">governmentofbc</a></h6>
        <div *ngFor="let post of selectedSocialMedia" >
          <div class='content'>
            <app-social-media-post [postExt]="post" [isLoading]="isLoading"></app-social-media-post>
          </div>
        </div>
    </div>
  </div>


</div>

