<app-hq-dashboard-sub-menu></app-hq-dashboard-sub-menu>

<div class="container-fluid" style="margin-top:30px;">
  <div class="row">
    <div class="col-3">
      <div class="fb-page"
        data-tabs="timeline"
        data-href="https://www.facebook.com/BCProvincialGovernment"
        data-width="350" height="3000"
        data-hide-cover="false"
        data-show-facepile="false">
        <div class="fb-xfbml-parse-ignore"></div>
      </div>

    </div>
    <div class="col-3">
      <a class="twitter-timeline" height="3000" data-width="350"
        href="https://twitter.com/BCGovNews">
      Tweets by @BCGovNews
      </a>
    </div>
    <!--
<div class="col">
      <div *ngIf="selectedSocialMedia.length > 0" id="new-social-media-list" class='masonry'>
        <div *ngFor="let post of selectedSocialMedia" class="item">
          <div class='content'>
            <app-social-media-post [postExt]="post" [isLoading]="isLoading"></app-social-media-post>
          </div>
        </div>
      </div>
    </div>
    -->
    <div class="col-6">
      <div class="row">
        <div *ngFor="let post of selectedSocialMedia" class="col-md-6 col-lg-6">
          <div class='content'>
            <app-social-media-post [postExt]="post" [isLoading]="isLoading"></app-social-media-post>
          </div>
        </div>
      </div>

    </div>


  </div>


</div>

