blockquote.twitter-tweet {
    border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
.Caption {
    display: none !important;
}

.HoverCard {
    display: none !important;
}

.Feedback {
    display: none !important;
}

.SocialProof {
    display: none !important;
}

.embed .Footer{
    display: none !important;
}

div.timeline-Tweet--isRetweet {
    display: none !important;
}

