<news-dashboard-navmenu></news-dashboard-navmenu>
<main role="main">
    <div class="jumbotron">
        <div class="container" style="padding-top: 80px;" id="hq-dashboard-body">
            <h2>HQ Dashboard <button class="btn btn-primary pull-right btn-print"><i class="fa fa-print fa-lg"></i>
                    Print Report</button></h2>
            <p style="font-size: 1.2em;" class="lighter-font">
                The most important news you should be aware of.
            </p>
            <div v style="padding-top:30px; font-size: 1.1em;">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="active" [routerLink]="['/last-7-day-post-list']" routerLinkActive="active">LAST 7 DAYS</a></li>
                    <li class="list-inline-item"><a [routerLink]="['/next-7-day-entry-list']" routerLinkActive="active">7 DAYS FORECAST</a></li>
                    <li class="list-inline-item"><a [routerLink]="['/themes-of-the-week']" routerLinkActive="active">THEME OF THE WEEK</a></li>
                    <li class="list-inline-item"><a [routerLink]="['/social-media']" routerLinkActive="active">SOCIAL MEDIA</a></li>

                    <li id="social-media-filter" class="list-inline-item pull-right" *ngIf="this.router.url === '/social-media'">
                        <div ngbDropdown>
                            <a class="btn-link " id="dropdownConfig" ngbDropdownToggle>All <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                                <button class="dropdown-item">Action - 1</button>
                                <button class="dropdown-item">Another Action</button>
                                <button class="dropdown-item">Something else is here</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
            <router-outlet></router-outlet>
        </div>
    </div>
</main>

<app-footer></app-footer>
