<news-dashboard-navmenu></news-dashboard-navmenu>
<main role="main">
    <div class="jumbotron">
        <div class="container" style="padding-top: 80px;" id="hq-dashboard-body">
            <h2>HQ Dashboard <button class="btn btn-primary pull-right btn-print"><i class="fa fa-print fa-lg"></i>
                    Print Report</button></h2>
            <p style="font-size: 1.2em;" class="lighter-font">
                The most important news you should be aware of.
            </p>
            <div style="padding-top:30px; font-size: 1.1em;">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="active" [routerLink]="['/last-7-day-post-list']" routerLinkActive="active">LAST 7 DAYS</a></li>
                    <li class="list-inline-item"><a [routerLink]="['/next-7-day-entry-list']" routerLinkActive="active">7 DAYS FORECAST</a></li>
                    <li class="list-inline-item"><a href="#">THEME OF THE WEEK</a></li>
                    <li class="list-inline-item"><a href="#">SOCIAL MEDIA</a></li>
                </ul>
            </div>
            
            <router-outlet></router-outlet>
        </div>
    </div>
</main>

<app-footer></app-footer>
