@import '../../../assets/styles/variables.scss';

 .router-style {
    font-size: 1.1em;
 }

 .dashboard-theme-container{
    padding-top: 80px; 
    padding-left:0; 
    padding-right:0;
 }

 .dashboard-theme-container h2{
    padding-bottom: 30px;
 }
