<app-theme-sub-menu></app-theme-sub-menu>
<div id="admin-theme-list" class="row pl-0 pr-0 pt-3">
  <div class="col-12">
      <div *ngFor="let theme of themes">
        <div class="card" (click)="navigateToTheme(theme.id)">
          <div class="card-body">
            <h5 *ngIf="theme.title" class="card-title">{{theme.title}}</h5>
            <p *ngIf="theme.description" class="card-text justify-content-between">{{theme.description}}</p>
            <p class="card-text card-date">{{theme.timestamp | date:'mediumDate'}}</p>
          </div>
        </div>
      </div>
  </div>  
</div>