<nav id="form-nav" class="navbar fixed-top navbar-expand-xs bg-primary navbar-light pt-0 pb-0">
  <div class="container-fluid">
    <div class="navbar-brand title mr-auto" id="site-title" >
      <h4>New Post</h4>
    </div>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item my-auto cancel-btn"><a routerLink="/social-media-input" class="btn btn-link">Cancel</a></li>
      <li class="nav-item my-auto ml-2">
        <button class="nav-link btn btn-save" (click)="submitForm()" [disabled]="addSocialMediaPostForm.invalid">Save</button>
      </li>
    </ul>
  </div>
</nav>
<div class="row pl-0 pr-0 pt-5 mt-3">
  <div class="col-12">
    <form [formGroup]="addSocialMediaPostForm" (ngSubmit)="submitForm()">
      <div *ngIf="get_url(i).invalid && get_url(i).dirty" class="alert alert-danger mt-1">Url Format Error</div>
      <div class="form-group row">
        <label for="URL" class="col-sm-2 col-form-label text-right text-uppercase url-label" [class.hidden]="!addSocialMediaPostForm.value.url">URL</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="url" placeholder="Enter URL" formControlName="url" autosize></textarea>
        </div>
      </div>
      <div class="text-center preview-post">
        <ng-template #preview>
          <app-social-media-post [postExt]="postExt"></app-social-media-post>
        </ng-template>
        <ng-container #previewPost></ng-container>
      </div>
    </form>
  </div>
</div>
