<app-hq-dashboard-sub-menu></app-hq-dashboard-sub-menu>
<div *ngIf="posts.length > 0; else elseBlock" id="post-list" class="card-columns pl-0 pr-0 pt-3">
  <div *ngFor="let post of posts" class="card">
    <blockquote *ngIf="post.fbAssetClass" class="{{post.fbAssetClass}}" attr.data-href="{{post.assetUrl}} | async" id="{{post.key}}"></blockquote>
    <img *ngIf="post.assetUrl && !post.fbAssetClass" class="card-img-top img-fluid" src="{{post.assetUrl}}" alt="Card image cap">
    
    <div class="card-body">
      <h6 *ngIf="post.leadMinistryName" class="card-subtitle mb-2 text-muted">{{post.leadMinistryName}}</h6>
      <h5 *ngIf="post.documents" class="card-title"><a target="_blank" href="{{BASE_NEWS_URL}}/{{post.kind.toLowerCase() | pluralizeKind}}/{{post.key}}">{{post.documents[0].headline}}</a></h5>
      <p *ngIf="post.summary" class="card-text justify-content-between">{{post.summary}}</p>
      <p class="card-text">{{post.publishDateTime | date:'mediumDate'}} <i class="fa fa-bookmark-o fa-lg pull-right pr-3"></i></p>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div id="post-list" class="pl-0 pr-0 pt-3 pb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-0">No posts available</h5>
      </div>
    </div>
  </div>
</ng-template>
