//---------------------------------------------------------------------------------------
// Additions are for extra things not found in bootstrap like a new font!
// WARNING: Do not create alot of new things here, remember always try to tweak and variable
// or override bootstrap css before trying to create something new.
//---------------------------------------------------------------------------------------

// Declare primary font, we provide all types for various browsers/devices
// the web browser will choose which one it wants ondemand instead of CSS onload
@font-face {
    font-family: 'BCSans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BCSans-Regular.woff2') format('woff2'),
         url('../fonts/BCSans-Regular.eot') format('eot'),
         url('../fonts/BCSans-Regular.woff') format('woff'),
         url('../fonts/BCSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BCSans';
    font-style: italic;
    src: url('../fonts/BCSans-Italic.woff2') format('woff2'), /* Optimized for very modern browsers */
         url('../fonts/BCSans-Italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/BCSans-Italic.eot') format('eot'),
         url('../fonts/BCSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'BCSans';
    font-weight: 700;
    src: url('../fonts/BCSans-Bold.woff2') format('woff2'), /* Optimized for very modern browsers */
         url('../fonts/BCSans-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/BCSans-Bold.eot') format('eot'),
         url('../fonts/BCSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'BCSans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/BCSans-BoldItalic.woff2') format('woff2'), /* Optimized for very modern browsers */
         url('../fonts/BCSans-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/BCSans-BoldItalic.eot') format('eot'),
         url('../fonts/BCSans-BoldItalic.ttf') format('truetype');
}
