// Only paragraph links should be underlined
p a {
    text-decoration: underline;
}

// Sticky footer
html {
   position: relative;
   min-height: 100%;
}
body {
   /* Margin bottom by footer height */
   margin-bottom: 65px !important;
}

.lighter-font{
    color: map-get($theme-colors, medium)!important;
}

/* wider screen layout
@media (min-width: 1200px){
    .container {
        max-width: 1400px;
    }
}
*/

main .jumbotron{
    background-color: #fff;
    @include media-breakpoint-down(sm) {
        padding: 2rem 0;
    }
}
  
#hq-dashboard-body h2{
    color:map-get($theme-colors, dark)!important;
}

.list-inline .list-inline-item{
    color: map-get($theme-colors, light)!important;
    padding-right:20px;
    @include media-breakpoint-down(sm) {
        padding-right: 0;
    }
}

.list-inline .list-inline-item a{
    color: map-get($theme-colors, medium);
    text-decoration: none;
    padding-bottom: 10px;
    @include media-breakpoint-down(sm) {
        padding-bottom: 0;
    }
}
  
.list-inline .active {
    color: map-get($theme-colors, dark)!important;
    border-bottom: 2px solid map-get($theme-colors, primary-nav)!important;
}

.btn-outline {
    border: 1px solid map-get($theme-colors, light)!important;
    color: map-get($theme-colors, primary-nav)!important;
}

.btn-print {
    @include media-breakpoint-down(sm) {
        display: none !important;
    }
}
  
.full-width{
    width: 95% !important;
 }

@media print {
    .doNotPrint {
        display: none !important;
    }
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1800px, // this is custom breakpoint
  xxxl: 2200px // this is custom breakpoint
);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
