// Only paragraph links should be underlined
p a {
    text-decoration: underline;
}

// Sticky footer
html {
   position: relative;
   min-height: 100%;
}
body {
   /* Margin bottom by footer height */
   margin-bottom: 65px !important;
}

.lighter-font{
    color: map-get($theme-colors, mediem)!important;
}

/* wider screen layout
@media (min-width: 1200px){
    .container {
        max-width: 1400px;
    }
}
*/

main .jumbotron{
    background-color: #fff;
}
  
#hq-dashboard-body h2{
    color:map-get($theme-colors, dark)!important;
}

.list-inline .list-inline-item{
    padding-right:20px;
    color: map-get($theme-colors, light)!important;
}

.list-inline .list-inline-item a{
    color: map-get($theme-colors, mediem);
    padding-bottom: 10px;
    text-decoration: none;
}
  
.list-inline .active {
    color: map-get($theme-colors, dark)!important;
    border-bottom: 2px solid map-get($theme-colors, primary-nav)!important;
}

.btn-print{
    border: 1px solid map-get($theme-colors, light)!important;
    color: map-get($theme-colors, primary-nav)!important;
}

@media print {
    .doNotPrint {
        display: none !important;
    }
}
