@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "@bcgov/bc-sans/css/BCSans.css";

$theme-colors: ();
$theme-colors: map-merge((
  primary: #FFF,
  secondary: #fcba19,
  light: $gray-300,
  dark: $gray-800,
  medium: $gray-500,
  primary-nav: #38598a,
  secondary-nav: #5475a7
), $theme-colors);

$font-family-sans-serif: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$body-color: #494949;

$headings-font-weight:   600;
$headings-color: #494949;
$heading-large-height: 80px;
$heading-small-height: 50px;

$link-color:            #1a5a96;
$link-hover-color:      #1a5a96;

$breadcrumb-bg: transparent;

$navbar-padding-x: 0;
