
<app-hq-dashboard-sub-menu></app-hq-dashboard-sub-menu>
<div id="activity-forecast-list">
  <div class="row">
        <div class="col-lg-2" *ngFor="let dayActivities of activitiesPerDays; let i = index">
            <div class="card" >
              <div class="card-header bg-light">{{getStartDow(i)}}<div class="pull-right">{{getStartDay(i)}}</div></div>
            </div>  
            <div class="card" *ngFor="let activity of dayActivities">
                <div class="card-body"  >
                    <h6 class="card-subtitle mb-2 text-muted card-ministry-label">{{activity.contactMinistryKey}}</h6>
                    <h5 class="card-title">{{activity.title}}</h5>
                    <p class="card-text">{{activity.details}}</p>
                  </div>
            </div>
        </div>
  </div>
</div>
