<div id="activity-list" class="card-columns" style="padding-left:0; padding-right:0; padding-top:30px;">
    <div *ngFor="let activity of activities">
        <div class="card">
            <img *ngIf="activity.imgUrl" class="card-img-top" src="{{activity.imgUrl}}" alt="Card image cap" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <h6 *ngIf="activity.ministryLabel" class="card-subtitle mb-2 text-muted card-ministry-label">{{activity.ministryLabel}}</h6>
              <h5 *ngIf="activity.title" class="card-title">{{activity.title}}</h5>
              <p *ngIf="activity.text"  class="card-text justify-content-between">{{activity.text}}</p>
              <p class="card-text">{{activity.publishDate}} <i class="fa fa-bookmark-o fa-lg pull-right" style="padding-right:30px;"></i></p>
            </div>
          </div>
    </div>
</div>
