.card-ministry-abbr {
    float: right;
}

#activity-forecast-list {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
}

#activity-forecast-list .card {
    margin-bottom: 15px;
}

#activity-forecast-list .col-lg-2 {
    padding-left: 5px;
    padding-right: 5px;
}

.card-body .card-title {
    font-size: 1.20rem;
}

.card-body .card-text {
    font-size: 0.95rem;
}

.card-body .card-subtitle{
    font-size: 0.95rem;
}
